# vim: set filetype=gotmpl :

# loginctl linger means units for this user stay up even if the user goes off.
{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

# systemd check
if ! command -v loginctl >/dev/null; then
	exit 0
fi

user_name="{{ .chezmoi.username }}"
is_linger="$(loginctl show-user "$user_name" --property=Linger 2>/dev/null)
if [ "$is_linger" != "Linger=yes" ]; then
	echo "systemd lingering is not enabled for user (units get terminated on logoff)"
	echo 'enable with: sudo loginctl enable-linger "$user_name"'
fi
{{- end -}} # if eq .chezmoi.os "linux"
