{{/* vim: set filetype=gotmpl : */}}

{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

# loginctl linger means units for this user stay up even if the user goes off.
#
# This can also help in situations when the login is not recognized correctly,
# as the user "is on" if the device is on => for me: fix /run/user/... not
# being created as WSL didn't use a login shell => no runtime (login session)
# dir was created.

# systemd check
if ! command -v loginctl >/dev/null; then
	echo "ABC"
	#exit 0
fi

user_name="{{ .chezmoi.username }}"
is_linger="$(loginctl show-user "$user_name" --property=Linger 2>/dev/null)"
if [ "$is_linger" != "Linger=yes" ]; then
	cat <<-'EOF'
Systemd lingering is not enabled for user (units get terminated on logoff).  To
enable:

  $ sudo loginctl enable-linger "$(whoami)"

This may have unforseen consequences such as daemons not being terminated and
running forever (ex. gpg).
EOF
fi
{{- end -}}
